.App {
  width: 100%;
}

.App .navbar-brand {
  font-weight: bold;
}

.navbar-default{
  border: none;
}

.navbar {
  min-height: 160px;
}

.navbar-brand {
  padding: 0 30px;
  height: 160px;
  line-height: 160px;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 46px;
  padding: 18px 20px !important;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 53px;
    padding-bottom: 53px;
    line-height: 54px;
  }
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
background-color: white;
}

